################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/ugcs-ppk/v16/.suo
/.vs/ugcs-ppk/v16
/.vs/slnx.sqlite
/UgcsGeotagger/App/obj
/UgcsGeotagger/App/bin/Debug/netcoreapp3.1
/UgcsGeotagger/App/bin/Release/netcoreapp3.1/win-x64
/UgcsGeotagger/.vs/UgcsGeotagger
/UgcsGeotagger/FileParsers/bin/Release/netstandard2.0
/UgcsGeotagger/FileParsers/obj
/UgcsGeotagger/FileParsers/bin/Debug/netstandard2.0
/.vs/ProjectSettings.json
/UgcsGeotagger/Tests/obj
/UgcsGeotagger/Tests/bin/Debug/netcoreapp3.1
/UgcsGeotagger/.vs/UgcsPPK/DesignTimeBuild
